<div class="float">
  <h2>Parameters</h2>
  <p>
    <%= label_tag(:nrOfRuns, 'Nr of runs') %><br>
    <%= @config.nrOfRuns %>
  </p>

  <p>
    <%= label_tag(:startLevel, 'Start level') %><br>
    <%= @config.startLvl %>
  </p>

  <p>
    <%= label_tag(:targetLevel, 'Target level') %><br>
    <%= @config.targetLvl %>
  </p>
 
  <p>
    <%= label_tag(:tienkangs, 'Use tienkangs on') %><br>
    <%= 
      if (@config.strategy.useTienkangs)
        @config.strategy.ranges[:tienkangs].to_s
      else
        "-none-"
      end 
    %>
  </p>

  <p>
    <%= label_tag(:tishas, 'Use tsishas on') %><br>
    <%= 
      if (@config.strategy.useTishas)
        @config.strategy.ranges[:tishas].to_s
      else
        "-none-"
      end
    %>
  </p>

  <p>
    <%= label_tag(:runningTime, 'Running time') %><br>
    <%= "#{@time}s" %>
  </p>
</div>

<div class="float">
	<% avg = @results.avg %>
	<h2>Average run</h2>
    <p>
    	<%= label_tag(:mirages, 'Mirages used') %><br>
  		<%= avg.mirages %>
  	</p>

    <p>
    	<%= label_tag(:tienkangs, 'Tienkangs used') %><br>
  		<%= avg.tienkangs %>
  	</p>

    <p>
    	<%= label_tag(:tishas, 'Tishas used') %><br>
  		<%= avg.tishas %>
  	</p>
</div>

<div class="float">
	<h2>Best run</h2>
    <p>
    	<%= label_tag(:mirages, 'Mirages used') %><br>
  		<%= @results.best.mirages %>
  	</p>

    <p>
    	<%= label_tag(:tienkangs, 'Tienkangs used') %><br>
  		<%= @results.best.tienkangs %>
  	</p>

    <p>
    	<%= label_tag(:tishas, 'Tishas used') %><br>
  		<%= @results.best.tishas %>
  	</p>
</div>

<div class="float">
	<h2>Worst run</h2>
    <p>
    	<%= label_tag(:mirages, 'Mirages used') %><br>
  		<%= @results.worst.mirages %>
  	</p>

    <p>
    	<%= label_tag(:tienkangs, 'Tienkangs used') %><br>
  		<%= @results.worst.tienkangs %>
  	</p>

    <p>
    	<%= label_tag(:tishas, 'Tishas used') %><br>
  		<%= @results.worst.tishas %>
  	</p>
</div>
